body {
    background-image: linear-gradient(to right, rgb(117, 55, 117) 50%, rgb(14, 51, 183) 50%);
    text-align: center;
  }
  
  h1 {
    background-color: blueviolet;
  }
  p {
    font-size: x-large;
  }
  .container {
    display: flex; /* display as flex container */
    flex-direction: row; /* arrange items horizontally */
    justify-content: space-between; /* align items to left and right */
}

.left-section {
    width: 50%; /* specify width of left section */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.right-section {
    width: 50%; /* specify width of right section */
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}